$primary: #1ebffa;

.results {
    border: solid 1px $primary;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 4%;
    width: 71.4%;
    height: 580px;
    background-color: rgb(35, 35, 35);
    box-shadow: (2px 8px 30px -15px $primary);
    min-width: 330px;
    @media only screen and (max-width: 950px) {
        width: auto;
        margin: 50px auto 10px;
    }
}