$primary: #1ebffa;
$secondary: #31748d;

.chart {
  float: left;

  .chartDescription {
    font-size: 1.1em;
    color: $primary;
    margin: 10% -100% 5% 29.3%;
    text-transform: uppercase;
    overflow-wrap: nowrap;

    .year {
      font-size: 1.1em;
    }
  }

  .dataChart {
    margin: 10% 15% 10% 6.4%;
  }
}