$primary: #1ebffa;
$secondary: #31748d;

.chart {
  float: left;

  .chartDescription {
    font-size: 1.1em;
    color: $primary;
    margin: 10% 0% -0% 30.2%;
    text-transform: uppercase;
    overflow-wrap: nowrap;

    .year {
      font-size: 1.1em;
    }
  }

  .dataChart {
    margin: 8.8% 15% 9% 5%;
  }
}