$primary: #1ebffa;

.rate {
  font-size: 0.95em;
  color: #1cace0;
  text-transform: uppercase;
  text-align: center;
  float: right;
  width: 20%;
  height: 21.6%;
  margin-top: 22%;
  padding-left: 1.5em;
  float: left;
  display: block;
  background-color: rgb(35, 35, 35);
  box-shadow: (2px 8px 30px -15px $primary);
  height: 580px;
  border: solid 1px $primary;
  border-radius: 10px;
  margin-top: 50px;
  margin-left: 30px;

  .transactionRate {
    padding-top: 7.5%;
    margin-right: 1.6em;
    margin-left: -2%;
  }

  .dataInfo {
    font-weight: 600;
    font-size: 0.8em;
    text-align: justify;
    margin: 30px 30px 20px 0px;
  }

  .apiInfo {
    text-align: center;
    margin: 30px 30px 10px 0px;
    font-weight: 600;
    font-size: 0.8em;

    .apiIcon {
      margin-top: 30px;
      display: block;
      align-self: center;
    }
  }

  .calculated {
    font-size: 1.16em;
    color: $primary;
  }
}