.rate {
  border: $panelStyle;
  border-radius: 10px;
  box-shadow: $primaryShadow;
  float: left;
  font-size: 0.95em;
  height: 580px;
  min-width: 320px;
  margin-left: 30px;
  margin-top: 50px;
  padding-left: 1.5em;
  width: 20%;

  div {
    p {
      font-size: 1.5em;
      margin-right: 30px;
      margin-top: 11%;
    }

    .numbers {
      font-size: 1.18em;
    }

    div {
      margin-right: 1.6em;
      margin-left: -2%;
      padding-top: 5%;
    }
  }

  .dataInfo {
    font-size: 0.85em;
    font-weight: $semiBold;
    margin: 60px 30px 20px 0px;
    text-align: justify;

    span {
      font-size: 1.1em;
    }
  }

  .apiInfo {
    font-size: 0.85em;
    font-weight: $semiBold;
    margin: 58px 30px 10px 0px;
  }

  .apiIcon {
    margin-left: -30px;
    margin-top: 33px;
  }
}