$primary: #1ebffa;

.rate {
  font-size: 0.95em;
  color: #1cace0;
  text-transform: uppercase;
  text-align: center;
  border-left: 1px solid $primary;
  box-shadow: -14px 6px 7px -16px $primary, inset 12px 0px 11px -16px $primary;
  float: right;
  width: 30%;
  height: 21.6%;
  margin-top: 24%;
  padding-left: 2.2em;

  .transactionRate {
    padding-top: 6.5%;
    margin-right: 2.5em;
  }

  .calculated {
    font-size: 1.16em;
    color: $primary;
  }
}