.navbar {
  height: 57px;
  border-bottom: 1px solid $primaryColor;
  box-shadow: (-1px 9px 7px -8px $primaryColor);

  .logo {
    font-size: 1.3em;
    padding-top: 1%;
    margin-left: 0.66%;
    float: left;
    color: $primaryColor;

    @media only screen and (max-width: 900px) {
      padding-top: 1.8%;
    }

    @media only screen and (max-width: 550px) {
     font-size: 1.15em;
     padding-top: 3.5%;
    }

    img {
      width: 1.2em;
      margin: 3% 0% -1.5% 0%;
    }

    .namePart1 {
      font-weight: 600;
      font-size: 1.2em;
    }

    .namePart2 {
      font-weight: 300;
      font-size: 1.2em;
    }
  }

  .buttons {

    @media only screen and (max-width: 550px) {
      font-size: 0.8em;
      padding-top: 1.8%;

    }

    .routerBtn {
      background-color: transparent;
      border: $panelStyle;
      font-size: 1em;
      line-height: 1;
      margin: 0.3em;
      padding: 0.9em 1em 0.6em;
      float: right;
      position: relative;
      color: $primaryColor;
      display: flex;
      text-decoration: none;
      font-weight: 550;
    }
  }
}

.effectBtn {
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: $primaryColor;
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  text-decoration: none;
}

.effectBtn:hover {
  border: 1px solid $primaryColor;
  box-shadow: inset 0 0 10px $primaryColor, 0 0 20px $hoverBtnColor;
  text-shadow: 1px 1px 2px #427388;
}

.router-link-active {
  border: 1px solid;
  box-shadow: inset 0 0 8px $primaryColor, 0 0 20px $hoverBtnColor;
  text-shadow: 1px 1px 2px #427388;
}