.chart {
  border: $panelStyle;
  border-radius: 10px;
  box-shadow: $primaryShadow;
  display: flexbox;
  float: left;
  height: 580px;
  margin-left: 2%;
  width: 735px;

  p {
    font-size: 1.3em;
    margin: 5% auto 3% auto;
    text-align: center;
    text-transform: uppercase;

    @media only screen and (max-width: 1520px) {
      margin-top: 1%;
    }

    @media only screen and (max-width: 1300px) {
      margin-top: 4%;
    }

    @media only screen and (max-width: 650px) {
      font-size: 1em;
    }
  }

  .dataChart {
    height: 81%;
    margin: 1% 1% 3% 1%;

    @media only screen and (max-width: 950px) {
      margin-top: 4%;
    }
  }
}