section {
  @include card;
  width: 735px;

  @media only screen and (max-width: 1520px) {
    width: 90%;
    height: 45%;
  }

  h3 {
    margin: 5% auto 3% auto;
    text-align: center;

    @media only screen and (max-width: 1520px) {
      font-size: 1em;
      margin-top: 2%;
      padding-left: 4%;
      padding-right: 4%;
    }
  }

  .dataChart {
    height: 81%;
    margin: 1% 1% 3% 1%;
  }
}