.chart {
  border: $panelStyle;
  border-radius: 10px;
  box-shadow: $primaryShadow;
  height: 580px;
  margin: 0 1% 40px 1%;
  min-width: 320px;
  width: 735px;

  @media only screen and (max-width: 1520px) {
    width: 90%
  }

  @media only screen and (max-width: 750px) {
    height: 500px;

  }

  @media only screen and (max-width: 550px) {
    height: 400px;
  }

  @media only screen and (max-width: 430px) {
    height: 330px;
  }

  h3 {
    margin: 5% auto 3% auto;
    text-align: center;

    @media only screen and (max-width: 1520px) {
      margin-top: 1%;
    }

    @media only screen and (max-width: 1300px) {
      margin-top: 4%;
    }

    @media only screen and (max-width: 650px) {
      font-size: 0.9em;
    }
  }

  .dataChart {
    height: 81%;
    margin: 1% 1% 3% 1%;

    @media only screen and (max-width: 950px) {
      margin-top: 4%;
    }
  }
}