$primaryColor: #c7b6b6;
$secondaryColor: #918d8d;
$hoverBtnColor: rgba(255, 255, 255, .2);
$backgrundColor: rgb(48, 38, 38);
$primaryShadow: (2px 8px 30px -15px $primaryColor);
$panelStyle: solid 1px $primaryColor;