$primary: #1ebffa;

#about {
  font-weight: 700;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  padding-top: 10.6%;
  text-transform: uppercase;

  div {
    padding-bottom: 2%;
    font-size: 1.3em;
    @media only screen and (max-width: 550px) {
      font-size: 1em;
      margin-top: 4%;
      margin-bottom: 2%;
      }
  }

  .description {
    margin: 0.6%;
    @media only screen and (max-width: 550px) {
      font-size: 0.77em;
      padding-bottom: 1%;
    }
  }

  hr {
    width: 70%;
    margin-top: 1.5%;
    margin-bottom: 1.6%;
    color: transparent;
    border-bottom: 1px solid $primary;
    box-shadow: (2px 1px 10px 0px $primary);
    @media only screen and (max-width: 670px) {
      width: 450px;
      padding-left: 2%;
      padding-right: 2%;
      margin-top: 4%;
    }
  }

  .invite {
    @media only screen and (max-width: 550px) {
      font-size: 1em;
    }
  }

  a {
    left: 0.5%;
    margin-top: 0.5%;
    @media only screen and (max-width: 550px) {
      transform: scale(0.75, 0.75);
    }
  }
}