.about {
  align-items: center;
  font-weight: $bold;
  justify-content: center;
  padding-top: 7%;

  h3 {
    margin-bottom: 20px;

    @media only screen and (max-width: 550px) {
      font-size: 0.9em;
    }
  }

  h5, p {
    @media only screen and (max-width: 900px) {
      font-size: 0.7em;
    }
  }

  hr {
    background-color: $primaryColor;
    box-shadow: (2px 1px 10px 0px $primaryColor);
    margin-bottom: 30px;
    margin-top: 20px;
    max-width: 1050px;
    width: 90%;
  }

  a {
    left: 0.5%;
    margin-top: 0.5%;

    img {
      max-width: 220px;
    }
  }
}