#about {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-weight: $bold;
  justify-content: center;
  padding-top: 10.6%;
  overflow: hidden;

  div {
    font-size: 1.3em;
    padding-bottom: 2%;

    @media only screen and (max-width: 550px) {
      font-size: 1em;
      margin-bottom: 2%;
      margin-top: 4%;
    }
  }

  .description {
    margin: 0.6%;

    @media only screen and (max-width: 800px) {
      padding-bottom: 2%;
    }

    @media only screen and (max-width: 550px) {
      font-size: 0.77em;
      padding-bottom: 3%;
    }
  }

  hr {
    background-color: $primaryColor;
    border-style: groove;
    box-shadow: (2px 1px 10px 0px $primaryColor);
    margin-top: 1.5%;
    margin-bottom: 1.6%;
    width: 70%;

    @media only screen and (max-width: 1300px) {
      margin-top: 2.4%;
    }

    @media only screen and (max-width: 670px) {
      margin-bottom: 4.1%;
      margin-top: 4%;
      padding-left: 2%;
      padding-right: 2%;
      width: 450px;
    }
  }

  .invite {
    @media only screen and (max-width: 550px) {
      font-size: 1em;
    }
  }

  a {
    left: 0.5%;
    margin-top: 0.5%;

    @media only screen and (max-width: 550px) {
      transform: scale(0.75, 0.75);
    }
  }
}