$primary: #1ebffa;

.select {
  border: solid 1px $primary;
  border-radius: 10px;
  margin-top: 35px;
  margin-left: 1.4%;
  width: 20%;
  min-width: 250px;
  height: 580px;
  background-color: rgb(39, 39, 39);
  box-shadow: (2px 8px 30px -15px $primary);

  .menu {
    font-size: 1.5em;
    color: $primary;
    text-align: center;
    margin-top: 7.5%;
  }

  .base {
    font-size: 1.11em;
    color: $primary;
    text-align: center;
    margin-top: 12%;
  }

  .v-select {
    border: 1px solid $primary;
    box-shadow: (2px 8px 15px -10px $primary);
    width: 80%;
    margin: 8% 9.5% 0%;;
    color: $primary;
    text-transform: lowercase;
    font-variant: small-caps;

    ::placeholder {
      color: $primary;
      text-align: center;
      text-transform: lowercase;
      font-variant: small-caps;
      font-weight: 700;
      font-family: 'Josefin Sans', sans-serif;
    }
  }
}

.v-search .vs__open-indicator {
  fill: $primary !important;
}
.v-search .vs--searchable .vs__dropdown-toggle {
  cursor: pointer;
}