.select {
  border: $panelStyle;
  border-radius: 10px;
  margin-top: 50px;
  margin-left: 30px;
  width: 20%;
  min-width: 320px;
  height: 580px;
  float: left;
  box-shadow: $primaryShadow;
  font-size: 1.1em;

  .menu {
    font-size: 1.5em;
    margin-top: 11%;
    margin-bottom: 7%;
  }

  .instruction {
    font-weight: $semiBold;
    padding: 0% 3%;
    text-transform: none;
  }

  .base {
    font-weight: $semiBold;
    margin-top: 11%;
    text-transform: uppercase;
  }

  img {
    width: 50px;
    display: block;
    margin: 8.3% auto;
    cursor: pointer;
  }

  .currency {
    font-weight: $semiBold;
    margin-top: -1.8%;
  }

  .amount {
    font-weight: $semiBold;
    margin-top: 16%;
  }

  .v-select {
    border: 1px solid $primaryColor;
    box-shadow: (2px 8px 15px -10px $primaryColor);
    width: 80%;
    height: 6%;
    margin: auto 9.5% auto;
    color: $secondaryColor;
    font-variant: small-caps;
    padding-left: 8%;

    ::placeholder {
      color: $primaryColor;
      text-transform: lowercase;
      font-variant: small-caps;
      font-weight: $bold;
      font-family: 'Josefin Sans', sans-serif;
    }
  }

  .amountInput {
    border: $panelStyle;
    box-shadow: $primaryShadow;
    width: 79%;
    margin: -0.9% 9.5% auto;
    height: 5.4%;
    background-color: transparent;
    color: $secondaryColor;
    text-transform: lowercase;
    font-variant: small-caps;
    font-weight: $bold;
    font-size: 0.88em;
    text-align: center;
  }

  .amountInput:focus {
    transition: cubic-bezier(0.19, 1, 0.22, 1) 200ms;
    font-size: 0.71em;
  }
}

.vs--searchable .vs__dropdown-toggle,
.v-select .vs__clear,
.v-select .vs__open-indicator,
.v-select .vs__dropdown-menu .vs__search,
.vs__search:focus {
  fill: $secondaryColor;
  cursor: pointer;
  color: $secondaryColor;
  font-weight: $bold;
  text-transform: unset;
  text-align: center;
  border: 0px;
}

.v-select .vs__dropdown-menu {
  background-color: $backgroundColor;
  border: $panelStyle;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: $semiBold;
  font-size: 0.7em;
  text-align: center;
}

.v-select .vs__dropdown-option {
  color: $primaryColor;
}

.v-select .vs__selected {
  color:$secondaryColor;
  font-size: 0.74em;
  margin-left: -11%;
}

.select .v-select {
  font-size: 1em;
}

.v-select .vs__clear {
  transform: scale(1.15);
  padding-bottom: 10%;
}

.v-select .vs__dropdown-menu {
  max-height: 535%;
  min-height: auto;

  @media only screen and (max-width: 1520px) {
    max-height: 535%;
  }
}

.vs-search {
  color: $secondaryColor;
}

.vs__search:focus {
  font-weight: $bold;
  font-size: 0.75em;
  padding-top: 0.9%;
  transition: cubic-bezier(0.19, 1, 0.22, 1) 200ms;
}


.v-select .vs__dropdown-menu .vs__dropdown-option--highlight {
    background: rgb(39, 34, 34);
}
