.select {
  @include card;
  font-size: 1.1em;

  h3 {
    margin-bottom: 9%;
    margin-top: 11%;
  }

  h4 {
    margin-bottom: 4.5%;
  }

  h4:first-of-type {
    margin-bottom: 14%;
    padding: 0% 3%;
    text-transform: none;
  }

  h4:last-of-type {
    margin-top: 15%;
  }

  img {
    cursor: pointer;
    display: block;
    margin: 8% auto;
    width: 50px;
  }

  .amountInput {
    background-color: transparent;
    border: $panelStyle;
    box-shadow: $primaryShadow;
    color: $secondaryColor;
    height: 5.4%;
    margin: -0.9% 9.5% auto;
    font-size: 0.88em;
    font-weight: $bold;
    font-variant: small-caps;
    text-align: center;
    width: 79%;
  }

  .amountInput:focus {
    font-size: 0.8em;
    transition: cubic-bezier(0.19, 1, 0.22, 1) 200ms;
  }
}
