$primary: #1ebffa;

.home {
  display: flex;
  box-sizing: border-box;
  @media only screen and (max-width: 1520px) {
    flex-wrap: wrap;
    display: flexbox;
  }

  .selectMenu {

    @media only screen and (max-width: 1520px) {
      float: right;
      margin-left: auto;
      margin-right: 4%;
    }

    @media only screen and (max-width: 780px) {
      margin-left: 3%;
    }

    @media only screen and (max-width: 710px) {
      min-width: 340px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .rate {

    @media only screen and (max-width: 1520px) {
      margin-left: 2%;
      margin-right: auto;
    }

    @media only screen and (max-width: 780px) {
      margin-right: 3%;
    }

    @media only screen and (max-width: 710px) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .chart {
    @media only screen and (max-width: 1520px) {
      width: 93%;
      margin-top: 5%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}