$primary: #1ebffa;

.home {
  display: flex;
  box-sizing: border-box;
  @media only screen and (max-width: 1520px) {
    flex-wrap: wrap;
    display: flexbox;
  }

  .selectrateContainer {
    width: 50%;

    @media only screen and (max-width: 1520px) {
      margin-right: auto;
      margin-left: auto;
      width: 100%;
    }

    @media screen and (max-width: 1520px) and (min-width: 910px) {
      color: $primary;
      border: solid 1px $primary;
      border-radius: 10px;
      width: 900px;
      float: left;
      background-color: rgb(35, 35, 35);
      box-shadow: (2px 8px 30px -15px $primary);
      margin: 50px 7.5% 0 7.5%;
    }

    @media only screen and (max-width: 810px) {
      padding-left: 40px;
    }

    .selectMenu {
      @media only screen and (max-width: 1520px) {
        margin-right: 4%;
      }

      @media only screen and (max-width: 810px) {
        min-width: 340px;
      }
    }

    .rate {
      @media only screen and (max-width: 1520px) {
        margin-left: 4%;
      }

      @media only screen and (max-width: 810px) {
      }
    }


  }

  .chart {
    @media only screen and (max-width: 1520px) {
      width: 85%;
      margin-left: auto;
      margin-right: auto;
    }

  }
}