.home {
  display: flex;
  box-sizing: border-box;

  @media only screen and (max-width: 1520px) {
    flex-wrap: wrap;
    display: flexbox;
  }

  .selectMenu {
    @media only screen and (max-width: 1520px) {
      min-width: 340px;
      float: right;
      margin-left: auto;
      margin-right: 3%;
    }

    @media only screen and (max-width: 810px) {
      margin-left: auto;
      margin-right: auto;
    }

    @media only screen and (max-width: 420px) {
      min-width: 320px;
    }
  }

  .whiteSpace {
    @media only screen and (max-width: 810px) {
      margin-left: 100%;
    }
  }

  .rate {
    @media only screen and (max-width: 1520px) {
      margin-left: 3%;
      margin-right: auto;
    }

    @media only screen and (max-width: 810px) {
      margin-left: auto;
      margin-right: auto;
      height: 535px;
    }

    @media only screen and (max-width: 420px) {
      min-width: 300px;
    }
  }

  .chart {
    @media only screen and (max-width: 1520px) {
      width: 93%;
      margin-left: auto;
      margin-right: auto;
    }

    @media only screen and (max-width: 750px) {
      margin-top: 50px;
    }

    @media only screen and (max-width: 750px) {
      height: 500px;
    }

    @media only screen and (max-width: 550px) {
      height: 400px;
    }

    @media only screen and (max-width: 430px) {
      height: 330px;
    }
  }
}