@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:200,300,400,500,600,700&display=swap');

.app {
  font-weight: $semiBold;
  color: $primaryColor;
  background-color: $backgroundColor;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  text-transform: uppercase;
}